{% extends "base_page.html" %}

{% block page-title %}
Поиск слов
{% endblock %}

{% block page-lead %}
Введите слово или перевод для поиска в вашей коллекции.
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="search-form">
    <form method="post" action="{% url 'search-term' %}">
        {% csrf_token %}  <!-- Добавлен CSRF-токен -->
        <div class="row px-5 py-2">
            <div class="col-md-8">
                <label for="search">Поиск:</label>
                <input type="text" class="form-control" name="search" id="search" required>
            </div>
            <div class="col-md-4 align-self-end">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}